{% load staticfiles %}
    <html>
        <head>
            <title>Coins System</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        </head>
        </head>
        <body>
            <div class="content container">
            	<div>
	                <h1><a href="">Coins</a></h1>
	            </div>
	            {% block content %}
                {% endblock %}
            </div>
        </body>
    </html>