{% extends 'app/base.html' %}

{% block content %}
<div class="panel panel-default">
	<div class="panel-heading"><h2> {{ profe }} </h2></div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-4">
				<a href="{% url 'nuevo_bloque' %}"><button>
					<span class="glyphicon glyphicon-plus"></span> Agregar bloque
				</button></a>
			</div>
			<div class="col-sm-4">
				<button><a href="{% url 'cargar_coins' %}"><span class="glyphicon glyphicon-screenshot"></span> Cargar coins </a></button>
			</div>
			<div class="col-sm-4"><span class="glyphicon glyphicon-copyright-mark"></span> Ha acumulado {{profe.coins_collected}} coins</div>
		</div>
		
		
	
	<div><h2><span class="glyphicon glyphicon-calendar"></span> Horario Disponible</h2></div>
	<div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th></th>
					<th>Día</th>
					<th>Hora</th>
					<th>Acciones</th>

				</tr>
			</thead>
			<tbody>
				{% for bloque in bloques %}
				<tr>
					<td>
						{% ifequal bloque.estado "0" %}
							<a href="{% url 'editar_bloque' pk=bloque.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
						{% endifequal %}
						{% ifequal bloque.estado "1" %}
							<a href="{% url 'editar_bloque' pk=bloque.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
						{% endifequal %}
						{% ifequal bloque.estado "2" %}
							<span class="glyphicon glyphicon-ok"></span>
						{% endifequal %}
					</td>
					<td>{{ bloque.getDia}}</td>
					<td>{{ bloque.getHoras}}</td>
					{% ifequal bloque.estado "1" %}
					<td>
						<a href="{% url 'comprar_bloque' pk=bloque.pk %}"><button class="btn btn-warning">
							<span class="glyphicon glyphicon-plus"></span> {{bloque.valor}} </button>
						</a>
					</td>
					{% endifequal %}
					{% ifequal bloque.estado "2" %}
					<td><button class="btn btn-danger">{{bloque.grupo}}</button></td>
					{% endifequal %}
					{% ifequal bloque.estado "0" %}
					<td>
						<a href="{% url 'borrar_bloque' pk=bloque.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
					</td>
					{% endifequal %}
					

				</tr>
				{% endfor %}
			</tbody>

		</table>
	</div>
</div>
{% endblock %}