{% extends 'app/base.html' %}

{% block content %}
<div class="panel panel-default">
	<div class="panel-heading"><h2> {{ alumno }} </h2></div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-6"><h1> <span class="glyphicon glyphicon-info-sign"></span> </h1>
			</div>
			<div class="col-sm-6"> 
				{{ alumno }}
				<br>
				<i> - Grupo {{ alumno.group }} </i>
				<p>Tiene <span class="glyphicon glyphicon-copyright-mark"></span> {{ alumno.coins_remain }}</p>
				<button type="button" class="btn btn-info"><a href="{% url 'ayuda' pk=alumno.pk %}">Ayuda por <span class="glyphicon glyphicon-copyright-mark"></span> 2</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}