{% load staticfiles %}
    <html>
        <head>
            <title>Coins System</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        </head>
        </head>
        <body>
            <div class="row well well-sm">
                <div class="col-sm-4"><h1><a href="{% url 'inicio' %}"> <span class="glyphicon glyphicon-copyright-mark"></span> Coins</a></h1></div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    {% if user.is_authenticated %}
                      Hi {{ user.username }}!
                      <p><a href="{% url 'logout' %}">logout</a></p>
                    {% else %}
                      <p>You are not logged in</p>
                      <a href="{% url 'login' %}">login</a>
                    {% endif %}
                </div>
            </div>
            <div class="content container"> 
                {% block content %}
                {% endblock %}
            </div>
            <div class="row well well-sm">
                <a href="{% url 'historial' %}">Historial</a>
            </div>
        </body>
    </html>