{% extends 'app/base.html' %}

{% block content %}
<div class="panel panel-default">
	<div class="panel-heading"><h2> {{ alumno }} </h2></div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-6 text-center"><h1> <span class="glyphicon glyphicon-user"></span> </h1>
			</div>
			<div class="col-sm-6"> 
				<h2> Grupo {{ alumno.group }} </h2>
				<p>Tiene <span class="glyphicon glyphicon-bitcoin"></span> {{ alumno.coins_remain }}</p>
				<p> Ha gastado <span class="glyphicon glyphicon-bitcoin"></span> {{ alumno.coins_used }}</p>
				<a href="{% url 'ayuda' pk=alumno.pk %}"><button type="button" class="btn btn-info">Comprar ayuda por <span class="glyphicon glyphicon-bitcoin"></span> 2</button></a>
			</div>
		</div>
	</div>
</div>
{% endblock %}