{% extends 'app/base.html' %}
{% block content %}
<div class="panel panel-warning">
	<div class="panel-heading"><h2><span class="glyphicon glyphicon-star"></span> Profesores </h2></div>
	<div class="panel-body">
		<div class="row">
		 	{% for profesor in profesores %}
		  		<div class="col-sm-4" align= "center">
		  			<div>
		  				<h4><b><a class="text-warning"href="{% url 'perfil_profe' pk=profesor.pk %}"> <span class="glyphicon glyphicon-star-empty"></span> {{ profesor }} </a></b></h4>
		  				<h6><i>Taller {{ profesor.taller }}</i></h6>
		  			</div>
		  		</div>
		  	{% endfor %}
		</div>
	</div>
</div>

<div class="panel panel-info">
		<div class="panel-heading"><h2><span class="glyphicon glyphicon-user"></span> Alumnos </h2></div>
		<div class="panel-body" align= "center">
			<table class="table table-striped">
				<thead></thead>
				<tbody>
				{% for alumno in alumnos %}
				<tr>
					<td><b><a href="{% url 'perfil_alumno' pk=alumno.pk %}"> {{ alumno }} </a></b></td>
			  		<td><i class="text-info"> {{ alumno.group }} </i></td>
			  		<td>
			  			<a class="small text-info" href="{% url 'ayuda' pk=alumno.pk %}"><button type="button" class="btn btn-info btn-block">Ayuda por <span class="glyphicon glyphicon-bitcoin"></span> 2</button></a>
			  		</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>

	</div>
</div>

<div class="panel panel-success">
	<div class="panel-heading"><h2><a href="{% url 'nuevo_bien' %}"><span class="glyphicon glyphicon-plus"></span></a> | <span class="glyphicon glyphicon-gift"></span> Herramientas y Materiales    </h2></div>
	<div class="panel-body">
		<div>
		 	{% for bien in bienes %}
		  		<div class="btn btn-default">
		  			<div>
		  				<p><b>{{ bien.nombre }}</b></p><br>
			  		<a class="small text-success" href="{% url 'bien' pk=bien.pk %}"><button type="button" class="btn btn-success btn-block">Comprar por <span class="glyphicons glyphicons-shopping-cart"></span> {{ bien.valor }}</button></a>
		  			</div>
		  		</div>
		  	{% endfor %}
		</div>
	</div>
</div>

{% endblock %}